 header {
     display: flex;
     justify-content: space-between;
 }

 nav {
     display: flex;
     list-style: none;
     padding: 0;
     margin: 0;
     gap: 20px;
 }

 nav a {
     text-decoration: none;
     color: black;
 }

 nav a:hover {
     color: blue;
 }
 .services-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}

.card-item {
    flex: 1 1 300px;
}